.boton-contenedor{
    height: 83px;
    width: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: #1b1b32;
    color: #fff;
    border-radius: 25px;
    border: 2px solid #fff;
    margin: 4px;
    cursor: pointer;
    user-select: none;
    transition: .5s ease;
}

.boton-contenedor:hover{
    color: #000;
    background-color: #fff;
}

.operador{
    background-color: #00471b;
    height: 63px;
    width: 63px;
}
.operador:hover{
    background-color: rgb(128, 128, 247);
    color: #000;
}