.App{
    height: 100vh;
    padding-top: 10px;
    background-color: #555597;
    font-family: Lato, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contenedor-calculadora{
    width: 500px;
    height: 500px;
    padding: 14px;
    background-color: #99c9ff;
    border-radius: 20px;
    border: 5px solid #fff;
}
.contenedor-main{
    display: flex;
    justify-content: center;
}
.contenedor-operadores{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fila{
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}